<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460437159544-7um47iinksod8lk0cr4csd3ldkj1onde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460437159544-7um47iinksod8lk0cr4csd3ldkj1onde</string>
	<key>API_KEY</key>
	<string>AIzaSyCLneL57lgtTaX8GalN4AyK90g50seIs58</string>
	<key>GCM_SENDER_ID</key>
	<string>460437159544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitsuyoshi.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-c892f</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-c892f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460437159544:ios:85be87f700ad26e47bf78d</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-c892f.firebaseio.com</string>
</dict>
</plist>